<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1 style="color: cornflowerblue; text-align: center;">WELCOME </h1> 
   <a  href="{% url 'contact' %}"> contact </a><br>
    <a  href="{% url 'about' %}"> About </a><br>
    <a href="{% url 'Table view'%}"> Table view</a><br>
    <a href="{% url 'user'%}">registration</a> <br>
    <a href="{% url 'log' %}">Login</a>
    <!-- <a href="{% url 'out'%}"></a> -->

</body>
</html>